/.bashrc
/.config
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/generated_instructions.txt
/hf_hub_dataset
/main.py
/.condarc
/.gitconfig
/.docker
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful